<h1>Posts#edit</h1>

<%= form_for [@post.user, @post] do |f| %>
  <%= f.label(:title, "Title") %>
  <%= f.text_field(:title) %>
  <%= f.label(:content, "content") %>
  <%= f.text_field(:content) %>
  <%= f.submit(:submit) %>		
<% end %>

