<h1>create a new post </h1>

<%= form_for [@user, @post] do |f| %>
  <%= f.label(:title, "Title") %>
  <%= f.text_field(:title) %>
  <%= f.label(:content, "content") %>
  <%= f.text_field(:content) %>
  <%= f.submit(:submit) %>		
<% end %>


