<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
	   <%= flash[:notice] %>	
	<% end %>

	<% if flash[:alert] %>
	   <%= flash[:alert] %>	
	<% end %>
	<%= link_to("logout" , logout_path, method: :delete, confirm: "CONFIRM LOGOUT") if current_user %>

    <%= yield %>

</body>
</html>
